@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";


@font-face {
font-family: 'open-sans';
src: url('./fonts/open-sans.ttf');
}

* {
font-family: 'open-sans';
}

.p-menubar {
    border: none !important;
}

.p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
    font-size: 13px;
}

//Animaciones
@keyframes fade-in {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

.fade-in {
animation: fade-in 0.6s ease-out forwards;
}

@keyframes fade-in2 {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

.fade-in2 {
animation: fade-in 1.6s ease-out forwards;
}

.icon-bounce {
animation: bounce 0.6s ease-out 1; 
}

@keyframes bounce {
0% {
    transform: translateY(0); 
}
30% {
    transform: translateY(-5px); 
}
50% {
    transform: translateY(0); 
}
70% {
    transform: translateY(-5px); 
}
100% {
    transform: translateY(0); 
}
}